[user]
	name = Jeenu V
	email = jeenuv@gmail.com
[alias]
	diffe = diff --ext-diff
	diffi = diff --no-ext-diff
	diffc = diff --cached
	rlog = log --reverse
	olog = log --pretty=oneline --abbrev-commit
	flog = log --first-parent --pretty=oneline --abbrev-commit
	og = log --pretty=oneline --abbrev-commit --all --graph
	oshow = show --pretty=oneline
	sb = "!sh -c '[ -x $HOME/tmp/git-sb ] && exec $HOME/tmp/git-sb'"
[color]
	diff = auto
	status = true
	ui = true
[core]
	pager = less -iw
	editor = vi \"+set tw=72 spell\"
[log]
	showroot = false
